<div class="container">
  
    <div class="page-header mt-4" > 
     <h1>Lista de repositórios de <strong>{{ user }} </strong></h1> 
     <hr>
     <button class="btn btn-sm btn-info s" [routerLink]="['/repositorios/user', user]">Sobre {{user}}</button> | 
     <button class="btn btn-sm btn-warning" routerLink="/">Voltar</button>

     <hr>
    </div>
  
    
  <table class="table table-striped mt-2">
    <thead>
    <tr>
      <th scope="col">Nome do repositório</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let repo of repositoriosUser;">
      <td>
        {{ repo.name }}
      </td>
    </tr>
    </tbody>
  </table>
  </div>