<div class="container">
  
  <div class="page-header mt-4"> 
   <h1>Lista de repositórios públicos</h1>
   <hr>
  </div>


<input [(ngModel)]="searchText" placeholder="Pesquisar Repositório"><br>

<table class="table table-striped mt-2">
  <thead>
  <tr>
    <th scope="col">Nome do repositório</th>
    <th scope="col">Sobre o dono</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let repo of repositorios;">
    <td>
      {{ repo.name }}
    </td>
    <td>
      <strong>Login:</strong> {{ repo.owner.login}} |
      <a class="btn btn-sm btn-info" [routerLink]="['user', repo.owner.login]">Ver Repositórios</a>
    </td>
  </tr>
  </tbody>
</table>
</div>